.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 5px;
}

.userInfo {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.email {
}
